# Hugo build output
public/
resources/_gen/

# Obsidian
content/.obsidian/
content/templates/

# Hugo lock file
.hugo_build.lock

# OS files
Thumbs.db
.DS_Store

# Temporary files
*.swp
*.bak

# Images
# (削除：画像をGitHubへプッシュするために除外設定を解除)
