/* Custom Background Image */
html,
body,
.main,
.theme-light {
    background-color: transparent !important;
    background-image: url(/images/bg-image-wave.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center !important;
}